*.out
.*
testgen
check_[a-z]
*tmp
statements/*
*.log
*.aux
interactor-out.txt
*debug*
sol
wrong
simulation
node_modules/*

statements/*
practice/*
!statements/*.tex
!statements/*.cls
!practice/*.tex
!practice/*.cls

!.gitignore
!.gitmodules
